In [18]:
import pandas as pd
from scipy import stats

In [15]:
discounted_orders = pd.read_csv('Result_20.csv')
discounted_orders.rename(columns={'avg(Sales)': 'avg(discounted_sales)', 'avg(Profit)': 'avg(discounted_profit)'}, inplace=True)
discounted_orders.head()

         Product ID  avg(discounted_sales)  avg(discounted_profit)
0  FUR-ADV-10000183             130.683998             -219.115997
1  FUR-ADV-10000188              12.495000              -13.380000
2  FUR-ADV-10001283              66.671997             -111.167999
3  FUR-ADV-10001659              10.260000              -15.780000
4  FUR-ADV-10001855              10.548000               -8.712000

In [16]:
normal_orders = pd.read_csv('Result_18.csv')
normal_orders.rename(columns={'avg(Sales)':'avg(normal_sales)', 'avg(Profit)':'avg(normal_profit)'}, inplace=True)
normal_orders.head()

         Product ID  avg(normal_sales)  avg(normal_profit)
0  FUR-ADV-10000002          53.040001           20.129999
1  FUR-ADV-10000108         116.689996            1.120000
2  FUR-ADV-10000183         116.556001            1.122000
3  FUR-ADV-10000188          33.320000           10.320000
4  FUR-ADV-10000190         222.360001          104.459999

In [17]:
complete_orders = pd.DataFrame()
complete_orders = pd.merge(discounted_orders, normal_orders, on='Product ID', how='outer')
complete_orders.head()

,Product ID,avg(discounted_sales),avg(discounted_profit),avg(normal_sales),avg(normal_profit)
0,FUR-ADV-10000183,130.683998,-219.115997,116.556001,1.122000
1,FUR-ADV-10000188,12.495000,-13.380000,33.320000,10.320000
2,FUR-ADV-10001283,66.671997,-111.167999,111.120003,22.200001
3,FUR-ADV-10001659,10.260000,-15.780000,27.360001,6.528000
4,FUR-ADV-10001855,10.548000,-8.712000,26.370001,7.110000

In [21]:
test = stats.ttest_ind(complete_orders.dropna()['avg(discounted_sales)'], complete_orders.dropna()['avg(normal_sales)'])
print(test)

Ttest_indResult(statistic=-11.928348534003032, pvalue=1.2436992087424575e-32)